@model IEnumerable<Data>

<!DOCTYPE html>
<html>
<head>
    <title>Artigos - Datas</title>
    <!-- Adicione os links para os estilos do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Artigos</h1>
        <label for="numRows">Número de artigos:</label>
        <input type="number" id="numRows" style="height=10%, width=10%">
        <button id="updateTable" class="btn btn-secondary" style="height=10%, width=10%">Limitar</button>
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Número de Comentários</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var artigo in Model.Where(a => !string.IsNullOrWhiteSpace(a.title) || !string.IsNullOrWhiteSpace(a.story_title))
                .OrderByDescending(a => a.num_comments)
                .ThenByDescending(a => a.title ?? a.story_title))
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(artigo.title))
                            {
                                @artigo.title
                            }
                            else if (!string.IsNullOrWhiteSpace(artigo.story_title))
                            {
                                @artigo.story_title
                            }
                        </td>
                        <td>
                            @if (artigo.num_comments == null)
                            {
                                @:0
                            }
                            else
                            {
                                @artigo.num_comments
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Função para limitar o número de linhas
        $("#updateTable").click(function () {
            var numRows = parseInt($("#numRows").val());
            $("#table tbody tr:gt(" + (numRows - 1) + ")").hide();
            $("#table tbody tr:lt(" + numRows + ")").show();
        });
    });
</script>